*.py[co]
*.DS_*
# Packages
dist
build
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
UNKNOWN.egg-info/

# migrations
migrations

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
coverage.xml

# Translations
*.mo

# Dev
.idea
.env
env
template.json
app/data
