*.py[co]
*.DS_*
# Packages
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# migrations
migrations

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Dev
app/utils.py
.idea
.env
env
template.json
app/data.py